.section-wrapper {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  //margin: 2rem 4rem;
}

form {
  width: 40%;
}

.upload-fields {
  width: 40%;
}

.form-fields {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  //margin-bottom: 20px;
}
.submit-area {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.upload-wrapper {
  border: 1px solid #303030;
  border-width: 2px;
  border-radius: 2rem;
  background-color: #30303015;
}

.upload-image {
  cursor: pointer;
  height: 150px;
  width: inherit;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
