<h2>edit company settings</h2>
<div class="space-5"></div>

<div class="section-wrapper">
  <form [formGroup]="companyForm" (ngSubmit)="onSubmit()">
    <div class="form-fields">
      <mat-form-field appearance="outline">
        <mat-label>name</mat-label>
        <input
          matInput
          type="text"
          formControlName="name"
          autocomplete="off"
          placeholder="name"
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>signature_location</mat-label>
        <input
          matInput
          type="text"
          formControlName="signature_location"
          autocomplete="off"
          placeholder="Berlin"
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>website</mat-label>
        <input
          matInput
          type="text"
          formControlName="website"
          autocomplete="off"
          placeholder="website"
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>tel</mat-label>
        <input
          matInput
          type="text"
          formControlName="tel"
          autocomplete="off"
          placeholder="tel"
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>note</mat-label>
        <input
          matInput
          type="text"
          formControlName="note"
          autocomplete="off"
          placeholder="note"
        />
      </mat-form-field>

      <div class="submit-area">
        <button
          mat-raised-button
          color="primary"
          [disabled]="!companyForm.valid || loading"
          (click)="onSubmit()"
        >
          {{ loading ? "loading" : "submit" }}
        </button>
      </div>
    </div>
  </form>

  <!-- upload fields -->

  <div class="upload-fields">
    <!-- signature -->

    <div class="upload-wrapper">
      <label class="" for="signature"  title="upload signature">
        <div *ngIf="!signature_url" class="avatar upload-image"></div>
        <div class="center">
          <img
            *ngIf="signature_url"
            [src]="signature_url"
            alt="Avatar"
            class="avatar image upload-image"
          />
        </div>
        <div class="center">
          {{ uploading ? "Uploading ..." : "Signature" }}
        </div>
      </label>
      <input
        style="visibility: hidden; position: absolute"
        type="file"
        id="signature"
        accept="image/png"
        (change)="uploadSignature($event)"
        [disabled]="uploading"
      />
    </div>

    <div class="space-1"></div>

    <!-- logo -->

    <div class="upload-wrapper">
      <label class="button primary block" for="logo"  title="upload logo">
        <div *ngIf="!logo_url" class="avatar  upload-image"></div>
        <div>
          <img
            *ngIf="logo_url"
            [src]="logo_url"
            alt="Avatar"
            class="avatar image upload-image"
          />
        </div>
        <div class="center">{{ uploading ? "Uploading ..." : "logo" }}</div>
      </label>
      <input
        style="visibility: hidden; position: absolute"
        type="file"
        id="logo"
        accept="image/*"
        (change)="uploadLogo($event)"
        [disabled]="uploading"
      />
    </div>

    <div class="space-1"></div>
    <div class="space-1"></div>
    <div class="space-1"></div>

    <!-- basePdf -->
    <div class="center" style="flex-direction: column">
      <div *ngIf="base_pdf">
        <pdf-viewer
          [src]="base_pdf"
          [render-text]="false"
          [render-text-mode]="0"
          [original-size]="false"
          style="width: 400px; height: 500px"
        ></pdf-viewer>
      </div>
      <div class="space-1"></div>

      <div
        *ngIf="!base_pdf"
        class="avatar"
        style="height: 150px; width: 150px"
      ></div>
      <div style="width: 150px">
        <label class="button primary block" for="basePdf">
          <div class="center">
            
            <button
              mat-stroked-button
              color="primary"
              type="button"
              matTooltip="base pdf is used for all receipts"
              matTooltipPosition="above"
            >
              {{ uploading ? "Uploading ..." : "upload base PDF" }}
            </button>
          </div>
        </label>
        <input
          style="visibility: hidden; position: absolute"
          type="file"
          id="basePdf"
          accept="pdf/*"
          (change)="uploadBasePdf($event)"
          [disabled]="uploading"
        />
      </div>
    </div>
    <div class="space-1"></div>
  </div>
</div>
