// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$my-custom-palette: (
  50: #f29007,
  100: #f29007,
  200: #f29007,
  300: #f29007,
  400: #f29007,
  500: #f29007,
  600: #f29007,
  700: #f29007,
  800: #f29007,
  900: #f29007,

  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  ),
);

$my-custom-palette-secondary: (
  50: #008a94,
  100: #008a94,
  200: #008a94,
  300: #008a94,
  400: #008a94,
  500: #008a94,
  600: #008a94,
  700: #008a94,
  800: #008a94,
  900: #008a94,

  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  ),
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$donationreceiptgenerator-primary: mat.define-palette($my-custom-palette);
$donationreceiptgenerator-accent: mat.define-palette(
  $my-custom-palette-secondary
);

// The warn palette is optional (defaults to red).
$donationreceiptgenerator-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$donationreceiptgenerator-theme: mat.define-light-theme(
  (
    color: (
      primary: $donationreceiptgenerator-primary,
      accent: $donationreceiptgenerator-accent,
      warn: $donationreceiptgenerator-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($donationreceiptgenerator-theme);

/* You can add global styles to this file, and also import other style files */

:root {
  --primary: #f29007;
  --secondary: #008a94;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1 {
  color: var(--secondary);
}

.space-1 {
  height: 1rem;
}
.space-5 {
  height: 5rem;
}

.space-10 {
  height: 10rem;
}

.avatar {
  border-radius: var(--custom-border-radius);
  overflow: hidden;
  max-width: 100%;
}
.avatar.image {
  object-fit: cover;
}
.avatar.no-image {
  background-color: #333;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 5px;
}

.avatarPlaceholder {
  border: var(--custom-border);
  border-radius: var(--custom-border-radius);
  width: 35px;
  height: 35px;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}
