<section>
  <app-top-bar></app-top-bar>
</section>
<section>
  <div class="space-1"></div>
  <div class="space-1"></div>
  <div class="space-1"></div>
  <h1>donation receipt generator</h1>
  <div class="space-1"></div>
</section>

<section class="generator-wrapper">
  <app-generator-form></app-generator-form>
</section>

<section class="table-wrapper">
  <h2>your recipient list</h2>
  <hr />
  <app-receipt-table></app-receipt-table>
</section>
