h1 {
    text-align: center;
}

.generator-wrapper {
  padding: 1rem 4rem;
  //background-color: blue;

}

.table-wrapper {
  padding: 1rem 1rem;
  //background-color: red;
  height: 50%;
  position: absolute;
  width: 98vw;
  //bottom: 0;
}