<app-top-bar></app-top-bar>

<div class="space-5"></div>

<section class="navigation-area">
  <div class="buttons">
    <button mat-stroked-button color="accent" routerLink="/dashboard">
      Dashboard <mat-icon>keyboard_return</mat-icon>
    </button>
    <button mat-button type="button" (click)="signOut()">logout</button>
  </div>

  
</section>

<div class="space-5"></div>

<section class="company-wrapper">
  <app-company-settings></app-company-settings>
</section>

<section class="user-wrapper">
  <app-account></app-account>
</section>

<div class="space-10"></div>
