.navigation-area{
    .buttons {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 4rem;
    }
}

.company-wrapper {
    border: 1px solid #303030;
    border-width: 2px;
    border-radius: 2rem;
    padding: 1rem;
    margin: 1rem;
}

.user-wrapper {
    border: 1px solid #303030;
    border-width: 2px;
    border-radius: 2rem;
    padding: 1rem;
    margin: 1rem;
}