.login-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)),
    url("/assets/bg/bg.webp");
  background-size: cover;
}

mat-form-field {
  min-width: 20rem;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: rgb(234, 234, 234);
  padding: 5rem;
  border-radius: 3% 20%;
}

.bottom-area {
  display: flex;
  justify-content: flex-end;
}
