<section class="login-wrapper">
  <form>
    <div class="card">
      <h1 class="header">Login</h1>
      <p class="description">Sign in with your email below</p>
      <div class="space-1"></div>
      <div class="space-1"></div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>email</mat-label>
          <input
            #input
            matInput
            autofocus
            class="inputField"
            type="email"
            autocomplete="email"
            placeholder="name@domain.tld"
          />
        </mat-form-field>
      </div>
      <div class="bottom-area">
        <button
          mat-button
          color="primary"
          type="submit"
          (click)="onLogin(input.value)"
          class="button"
          [disabled]="loading"
        >
          {{ loading ? "loading" : "Send link" }}
          <mat-icon>keyboard_return</mat-icon>
        </button>
      </div>
    </div>
  </form>
</section>
