<section class="footer-wrapper">
  <div class="flex">
    <div class="m-left">
      <a href=""></a>
    </div>
    <div class="m-right">
      <a routerLink="/imprint" target="_blank">imprint/privacy</a>
    </div>
  </div>
</section>
