.footer-wrapper {
    width: 100%;
    height: 2rem;
  }
  
  .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .m-right {
    margin-right: 3rem;
  }
  
  .m-left {
    margin-left: 3rem;
  }