.myform {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

mat-form-field {
  max-width: 20rem;
  min-width: 5rem;
  width: 14rem;
}

.submit-area{
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
}