<form [formGroup]="generatorForm" (ngSubmit)="onSubmit()">
  <div class="myform">
    <!-- company -->
    <mat-form-field appearance="outline">
      <mat-label>company</mat-label>
      <input
        matInput
        type="text"
        formControlName="company"
        autocomplete="off"
        placeholder="company"
      />
    </mat-form-field>

    <!-- first name -->
    <mat-form-field appearance="outline">
      <mat-label>firstName</mat-label>
      <input
        matInput
        type="text"
        formControlName="firstName"
        autocomplete="off"
        placeholder="firstName"
      />
    </mat-form-field>

    <!-- last name -->
    <mat-form-field appearance="outline">
      <mat-label>lastName</mat-label>
      <input
        matInput
        type="text"
        formControlName="lastName"
        autocomplete="off"
        placeholder="lastName"
      />
    </mat-form-field>

    <!-- address -->
    <mat-form-field appearance="outline">
      <mat-label>address</mat-label>
      <input
        matInput
        type="text"
        formControlName="address"
        autocomplete="off"
        placeholder="address"
      />
    </mat-form-field>

    <!-- amount -->
    <mat-form-field appearance="outline" style="width: 4rem">
      <mat-label>amount</mat-label>
      <input
        matInput
        type="number"
        formControlName="amount"
        autocomplete="off"
        placeholder="amount"
      />
    </mat-form-field>

    <!-- date -->
    <mat-form-field appearance="outline" style="max-width: 10rem">
      <mat-label>date</mat-label>
      <input
        matInput
        autocomplete="off"
        [matDatepicker]="picker"
        formControlName="date"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <!-- renounce -->

    <mat-checkbox style="width: 6rem" formControlName="renounce"
      >renounce</mat-checkbox
    >

    <!-- email -->
    <mat-form-field appearance="outline">
      <mat-label>email</mat-label>
      <input
        matInput
        type="text"
        formControlName="email"
        autocomplete="off"
        placeholder="email"
      />
    </mat-form-field>

    <!-- currency -->
    <mat-form-field appearance="outline" style="max-width: 6rem">
      <mat-label>currency</mat-label>
      <input
        matInput
        type="text"
        formControlName="currency"
        autocomplete="off"
        placeholder="eur, usd, btc"
      />
    </mat-form-field>
  </div>

  <br />
  <!-- submit -->
  <div class="submit-area">
    <button
      mat-stroked-button
      type="button"
      (click)="onSaveList()"
      matTooltip="creates a list entry"
      matTooltipPosition="above"
    >
      save in list
    </button>
    <button
      mat-stroked-button
      type="button"
      color="secondary"
      (click)="onDownload()"
      matTooltip="download pdf, not saved in list!"
      matTooltipPosition="above"
    >
      download
    </button>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      matTooltip="Send email and save in list"
      matTooltipPosition="above"
    >
      Send
    </button>
  </div>
</form>
