<!-- nav -->
<section class="nav-wrapper">
  <div class="flex" style="height: inherit">
    <div class="m-left">
      <!-- default -->
      <img
        src="/assets/defaults/logo-side.png"
        alt="donationhustle Logo"
        class="header-logo image"
        style="object-fit: contain"
      />
    </div>
    <div class="m-right">
      <button mat-stroked-button routerLink="/login" title="login">
        Login
      </button>
    </div>
  </div>
</section>

<div class="space-5"></div>

<section class="sales-section">
  <div>
    <button routerLink="/login" class="call-to-action">
      let's go <mat-icon> arrow_forward </mat-icon>
    </button>
  </div>

  <div class="space-1"></div>

  <div>
    <h2>Automate and organize the receipt generation process</h2>
  </div>
  <div class="space-1"></div>

  <div class="image-wrapper">
    <img
      class="sales-image"
      width="90%"
      src="/assets/sales/TheOneAndOnly.jpg"
      alt="dashboard"
    />
  </div>
</section>

<div class="space-10"></div>

<app-footer></app-footer>
