.nav-wrapper {
  width: 100%;
  height: 5rem;
  background-color: var(--primary);
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.m-right {
  margin-right: 3rem;
}

.m-left {
  margin-left: 3rem;
}

.header-logo {
  min-width: 10rem;
  max-width: 20rem;
  height: 4rem;
}

.sales-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  font-size: 2rem;
  font-weight: normal;
  //color: var(--secondary);
  color: rgb(61, 61, 61);
  text-align: center;
}

.sales-image {
  box-shadow: 0px 0px 35px -8px #000000c4;
}

.call-to-action {
  color: var(--secondary);
  font-size: 3rem;
  border: none;
  background: none;
  cursor: pointer;
  text-decoration: underline;
  transition: all 0.1s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}

.mat-icon {
  transform: scale(2.1);
}
