<h2>edit user settings</h2>

<div class="space-5"></div>

<div class="wrapper">
  <div class="form-wrapper">
    <div>
      <mat-form-field appearance="outline">
        <mat-label for="email">Email</mat-label>
        <input
          matInput
          id="email"
          type="text"
          [value]="session?.user?.email"
          disabled
        />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label for="username">Name</mat-label>
        <input
          matInput
          #username
          id="username"
          type="text"
          [value]="profile?.username ?? ''"
        />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label for="website">Website</mat-label>
        <input
          matInput
          #website
          id="website"
          type="url"
          [value]="profile?.website ?? ''"
        />
      </mat-form-field>
    </div>

    <div>
      <button
        mat-raised-button
        color="primary"
        class="button block primary"
        (click)="updateProfile(username.value, website.value)"
        [disabled]="loading"
      >
        {{ loading ? "Loading ..." : "Update" }}
      </button>
    </div>
  </div>

  <div class="avatar-wrapper center">
    <app-avatar
      [avatarUrl]="this.profile?.avatar_url"
      (upload)="updateProfile(username.value, website.value, $event)"
    >
    </app-avatar>
  </div>
</div>

<div class="space-5"></div>
