.wrapper {
  display: flex;
  gap: 1rem;
  justify-content: space-around;
}

.form-wrapper {
  width: 40%;
  display: flex;
  flex-direction: column;
  width: 20rem;
}

.avatar-wrapper {
  width: 40%;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
