<div style="width: 100%; height: 100%">
  <div class="example-container">
    <div
      class="example-loading-shade"
      *ngIf="isLoadingResults || isRateLimitReached"
    >
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
      <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
        GitHub's API rate limit has been reached. It will be reset in one
        minute.
      </div>
    </div>

    <div class="example-table-container">
      <table
        mat-table
        [dataSource]="data"
        class="example-table"
        matSort
        matSortActive="created_at"
        matSortDisableClear
        matSortDirection="asc"
      >
        <!-- firstName Column -->
        <ng-container matColumnDef="firstName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>firstName</th>
          <td mat-cell *matCellDef="let row">{{ row.firstName }}</td>
        </ng-container>
        <!-- lastName Column -->
        <ng-container matColumnDef="lastName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>lastName</th>
          <td mat-cell *matCellDef="let row">{{ row.lastName }}</td>
        </ng-container>

        <!-- address Column -->
        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef>address</th>
          <td mat-cell *matCellDef="let row">{{ row.address }}</td>
        </ng-container>

        <!-- amount Column -->
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>amount</th>
          <td mat-cell *matCellDef="let row">{{ row.amount }}</td>
        </ng-container>

        <!-- date Column -->
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>date</th>
          <td mat-cell *matCellDef="let row">{{ row.date | date }}</td>
        </ng-container>

        <!-- renounce Column -->
        <ng-container matColumnDef="renounce">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>renounce</th>
          <td mat-cell *matCellDef="let row">{{ row.renounce }}</td>
        </ng-container>

        <!-- email Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>email</th>
          <td mat-cell *matCellDef="let row">{{ row.email }}</td>
        </ng-container>

        <!-- company Column -->
        <ng-container matColumnDef="company">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>company</th>
          <td mat-cell *matCellDef="let row">{{ row.company }}</td>
        </ng-container>

        <!-- Created Column -->
        <ng-container matColumnDef="created_at">
          <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
            Created
          </th>
          <td mat-cell *matCellDef="let row">{{ row.created_at | date }}</td>
        </ng-container>

        <!-- button -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let row">
            <button mat-button (click)="onSendClick($event, row)">Send</button>
            <button mat-button (click)="onDownloadClick($event, row)">
              Download
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          (click)="onClick(row)"
        ></tr>
      </table>
    </div>

    <mat-paginator
      [length]="resultsLength"
      [pageSize]="30"
      aria-label="Select page of GitHub search results"
    ></mat-paginator>
  </div>
</div>
