/* Structure */
.example-container {
  position: relative;
  height: 100%;
  //position: absolute;
  //  bottom: 0;
  //  width: 98vw;
  //  min-height: 200px;
}//

.example-table-container {
  position: relative;
  min-height: 200px;
  height: inherit;
  max-height: 50vh;
  overflow: auto;
}

table {
  width: 100%;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-rate-limit-reached {
  max-width: 360px;
  text-align: center;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}

.mat-row:hover .mat-cell {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.094);
}