<div class="wrapper">
  <div class="flex" style="height: inherit">
    <div class="m-left">
      <img
        *ngIf="_companyLogoUrl"
        [src]="_companyLogoUrl"
        alt="companyLogo"
        class="company-logo image"
      />
      <div
        *ngIf="!_companyLogoUrl && profileLoading"
        class="skeleton company-logo"
      >
        <div></div>
      </div>
      <!-- default -->
      <img
        *ngIf="!_companyLogoUrl && !profileLoading"
        src="/assets/defaults/logo-side.png"
        alt="companyLogo"
        class="company-logo image"
      />
    </div>

    <div class="m-right div-button" routerLink="/settings" title="settings">
      <img
        *ngIf="_avatarUrl"
        [src]="_avatarUrl"
        alt="Avatar"
        class="avatar image"
      />
      <div *ngIf="!_avatarUrl && profileLoading" class="skeleton avatar"></div>
      <img
        *ngIf="!_avatarUrl && !profileLoading"
        src="/assets/defaults/default-user-icon.webp"
        alt="companyLogo"
        class="avatar image"
      />
    </div>
  </div>
</div>
