.wrapper {
  width: 100%;
  height: 5rem;
  background-color: var(--primary);
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.m-right {
  margin-right: 3rem;
}

.m-left {
  margin-left: 3rem;
}

.avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.div-button {
  &:hover {
    img {
      box-shadow: 0px 0px 13px 4px #00000010;
    }
    cursor: pointer;
  }
}

.company-logo {
  min-width: 10rem;
  max-width: 20rem;
  height: 4rem;
}

.skeleton {
  background: #eee;
  background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
  border-radius: 5px;
  background-size: 200% 100%;
  animation: 1.5s shine linear infinite;
}

img{
  object-fit: contain;
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}
